<li>
  <%= link_to chr.name, chr %>
  <%# if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", chr, method: :delete,
                              date: { confirm: "You sure?" } %>
  <%# end %>
</li>
