<h1>sc2db</h1>
<p>
  This is the home page for sc2db, a database for sc2.0 project.
  To know more about sc2.0 project, please refer to 
  <a href="http://syntheticyeast.org/sc2-0/">Synthetic Yeast 2.0</a> .
</p>
