<div class="center jumbotron">
  <h1>sc2db</h1>

  <h2>
    This is the home page for sc2db, a database for sc2.0 project.
    To know more about sc2.0 project, please refer to 
    <a href="http://syntheticyeast.org/sc2-0/">Synthetic Yeast 2.0</a> .
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("sc2.0.png", alt: "sc2.0 logo", size: "80x50"),
            'http://syntheticyeast.org/sc2-0/' %>
