<li>
  <%= link_to mega.name, mega %>
  <%# if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", mega, method: :delete,
                              date: { confirm: "You sure?" } %>
  <%# end %>
</li>
