<footer class="footer">
  <small>
    The sc2db</a>
    by <a href="http://www.facebook.com/duncan.gong">Jianhui Gong</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
